.clear {clear: both;}

/* Login */


/* Photo list view */
.photo_list{
	text-align: center;
}

.photo_list_item{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	background-color: #fff;
	-webkit-box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 0px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 0px 8px rgba(50, 50, 50, 0.5);
}

.photo_list .photo{
	width: 280px;
}

.palette {
	width: 280px;
	height: 50px;
	padding: 0;
	margin: 0 auto;
}

.palette .item {
	width: 25%;
	height: 50px;
	display: inline-block;
	float: left;
}

/* photo detail view */
.tags_display span{
	padding: 0 10px;
}

/* Search Tag Page */
.tag_group span{
	
}

.thumbnail {
	display: inline-block;
	float: left;
	cursor: pointer;
	background-color: #fff;
	padding: 5px;
	margin: 0 5px;
	-webkit-box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 0px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 0px 8px rgba(50, 50, 50, 0.5);
}

.thumbnail img{
	height: 100px;
}

/* Footer */
.nav{
	position: fixed !important;
}

/* Icons */
#color .ui-btn {
	height: 40px;
}

#color .ui-icon{
	background: url(../icons/color.png) !important;
	width: 28px;
	height: 28px;
}

#tag_icon{
	width: 40px;
}

#photo_icon{
	width: 40px;
}

#ins_icon{
	width: 40px;
}

.nav .ui-btn-inner{
	padding: 5 !important;
	padding-top: 5px;
	margin: 0;
}