.clear {clear: both;}

/* Login */


/* Photo List View */
#color_filter{
	position: absolute;
	top: 42px;
	width: 100%;
	left: 0;
	height: 42px;
}

#color_filter ul{
	list-style: none;
	opacity: 0.6;
	padding: 0;
	margin: 0;
}

#color_filter ul li{
	display: inline-block;
	width: 12.5%;
	height: 42px;
	float: left;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#red{
	/*background-color: red; */
	background-image:url('colors/redSwatch.png');
	background-repeat:no-repeat;
}

#orange{
	/*background-color: orange; */
	background-image:url('colors/orangeSwatch.png');
	background-repeat:no-repeat;
}

#yellow{
	/*background-color: yellow; */
	background-image:url('colors/yellowSwatch.png');
	background-repeat:no-repeat;
}

#green{
	/*background-color: green; */
	background-image:url('colors/greenSwatch.png');
	background-repeat:no-repeat;
}

#cyan{
	/*background-color: #00FFFF; */	
	background-image:url('colors/cyanSwatch.png');
	background-repeat:no-repeat;
}

#blue{
	/*background-color: blue; */
	background-image:url('colors/blueSwatch.png');
	background-repeat:no-repeat;
}

#magenta{
	/*background-color: magenta; */
	background-image:url('colors/violetSwatch.png');
	background-repeat:no-repeat;
}

#bwg{
	/*background-color: #666; */
	background-image:url('colors/bwgSwatch.png');
	background-repeat:no-repeat;

li.selected{
	border: 1px black;
}

.photo_list{
	text-align: center;
}

.with_filter{
	margin-top: 40px;
}

.photo_list_item{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	background-color: #fff;
	-webkit-box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 0px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 0px 8px rgba(50, 50, 50, 0.5);
}

.photo_list .photo{
	width: 280px;
}

.new_photo{
	width: 280px;
}

.palette {
	width: 280px;
	height: 50px;
	padding: 0;
	margin: 0 auto;
}

.palette .swatch {
	width: 20%;
	height: 50px;
	display: inline-block;
	float: left;
}

#logout{
	background-color: red;
}

/* Photo Detail View */
#fav_button{
	position: relative;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}

.faved{
	background: url(../icons/newStar_selected.png);
	background-size: 40px 40px;
}

.not_faved{
	background: url(../icons/newStar_unselected.png);
	background-size: 40px 40px;
}

.tags_display span{
	padding: 0 10px;
}

.hidden_menu{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2000 !important;
	width: 100%;
	background-color: #333;
}

.option{
	width: 85%;
	margin: 10px auto;
}


/* Search Tag Page */
.tag_group span{
	
}

.thumbnail {
	display: inline-block;
	float: left;
	cursor: pointer;
	background-color: #fff;
	padding: 5px;
	margin: 0 5px;
	-webkit-box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 0px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 0px 8px rgba(50, 50, 50, 0.5);
}

.thumbnail img{
	height: 100px;
}

/* Add Page */
#place option{
	overflow: hidden;
}

/* Footer */
.nav{
	position: fixed !important;
}

/* Icons */
#color .ui-btn {
	height: 40px;
}

#color .ui-icon{
	background: url(../icons/color.png) !important;
	width: 28px;
	height: 28px;
}

#fav_icon{
	width: 40px;
}

#photo_icon{
	width: 40px;
}

#ins_icon{
	width: 40px;
}

.nav .ui-btn-inner{
	padding: 5 !important;
	padding-top: 5px;
	margin: 0;
}

#input_wrapper{
	opacity: 0;
}

#photo_li{
	margin-top: -23px;
	margin-left: 1px;
	z-index: -100;
	position: relative;
}