.clear {clear: both;}

/* Loader gif */
.loader{
	position: absolute;
	top: 45%;
	left: 45%;
	background-image: url('images/loader.gif');
	z-index: 100px;
	width: 50px;
	height: 50px;
}

/* Overall Theme */
.ui-content{
	background-image: url('images/background_texture.png');
}

/* Login */

.account
{
	padding: 0px;
    margin:0px;
    padding-bottom: 60px;

}
.upperline
{
	padding:0px;
	margin:0px;
	height:22px;
}
#num1
{
	width:320px;
	background-color: #ef9e12;
}
#num2
{
	width:300px;
	background-color: #f7d00b;
}
#num3
{
	width:280px;
	background-color: #faed65;
}
#num4
{
	width: 260px;
	background-color: #e0ea23;
}
#num5
{
	width: 240px;
	background-color: #92decb;
}
.account h1
{
    margin: 10px auto;
    padding:0px;
    font-size: 32px;
    color:#6c6c6c;
    font-weight: bold;
    width: 80%;
}
.account p
{
	margin: 5px auto;
	padding:0px;
	width:80%;
	text-align: right;
    font-size:16px;
    color:#949494;
}

.account_form{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.account_form input{
	margin: 5px 0 !important;
}

.action_button
{
	display:inline;
	height:36px;
	width:100px;
	text-align: center;
	box-shadow: 2px 2px 2px #bababa;
	margin-right: 20px;
}

.action_button a{
	font-size: 14px;
	font-style: none !important;
	color:white !important;
	line-height: 36px;
}

.action_button a:visited{
	color:white !important;
	font-style: none !important;
}

#signup_button, #new_account_button
{
    background-color: #ef9e12;
    float:left;
}
#login_button
{	
	float:left;
	background-color:#f7d00b;
}

#new_account_button{
	margin-bottom: 10px;
}

p.account_error{
	margin-left: 0px;
	margin-top: 0px;
	text-align: left;
	color: red;
}

#signup_link{
	line-height: 40px;
}

/* My Inspiration Page List View */
#color_switch{
	background: url(../icons/colorviewoff.png) no-repeat;
    height: 30px;
    width: 45px;
    top: 3px;
}

#color_filter{
	position: absolute;
	top: 42px;
	width: 100%;
	left: 0;
	height: 42px;
}

#color_filter ul{
	list-style: none;
	opacity: 0.6;
	padding: 0;
	margin: 0;
}

#color_filter ul li{
	display: inline-block;
	width: 12.3%;
	height: 42px;
	float: left;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#red{
	/*background-color: red; */
	background-image:url('colors/redSwatch.png');
	background-repeat:no-repeat;
}

#orange{
	/*background-color: orange; */
	background-image:url('colors/orangeSwatch.png');
	background-repeat:no-repeat;
}

#yellow{
	/*background-color: yellow; */
	background-image:url('colors/yellowSwatch.png');
	background-repeat:no-repeat;
}

#green{
	/*background-color: green; */
	background-image:url('colors/greenSwatch.png');
	background-repeat:no-repeat;
}

#cyan{
	/*background-color: #00FFFF; */	
	background-image:url('colors/cyanSwatch.png');
	background-repeat:no-repeat;
}

#blue{
	/*background-color: blue; */
	background-image:url('colors/blueSwatch.png');
	background-repeat:no-repeat;
}

#magenta{
	/*background-color: magenta; */
	background-image:url('colors/violetSwatch.png');
	background-repeat:no-repeat;
}

#bwg{
	/*background-color: #666; */
	background-image:url('colors/bwgSwatch.png');
	background-repeat:no-repeat;
}

li.selected{
	border: 1px black;
}

li .highlight{
	padding: 0px;
	height: 42px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

}

.photo_list{
	text-align: center;
}

.with_filter{
	margin-top: 40px;
}

.photo_list_item{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	background-color: #fff;
	-webkit-box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 0px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 0px 8px rgba(50, 50, 50, 0.5);
	position: relative;
}

.photo_list .photo{
	width: 280px;
}

.new_photo{
	width: 280px;
}

.palette {
	width: 280px;
	height: 50px;
	padding: 0;
	margin: 0 auto;
	padding-bottom: 20px;
}

.palette .swatch {
	width: 20%;
	height: 50px;
	display: inline-block;
	float: left;
}

#logout{
	background-color: red;
}

.no_photo{
	display: none;
	text-align: center;
	position: absolute;
	top: 40%;
	color: #999;
}

/* Instruction Popup */
#ins_pic_1{
	height:352px;
	width:320px
}

#ins_pic_2{
	width:256px;
	height:136px
}
        
#instruction {
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
        
#instruction .ui-btn {
    margin: 2em 15px;
}

#filter_instruction
{
    margin:0;
}

#camera_instruction
{
   	position: absolute;
   	left: 50px;
   	bottom: 50px;
}

/* Photo Detail View */
#fav_button{
	position: absolute;
	top: 15px;
	right: 5px;
	width: 30px;
	height: 30px;
}

.faved{
	background: url(../icons/star_selected.png) no-repeat;
	background-size: 30px 30px;
}

.not_faved{
	background: url(../icons/star_unselected.png) no-repeat;
	background-size: 30px 30px;
}

.tags_display span{
	padding: 0 10px;
}

.hidden_menu{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2000 !important;
	width: 100%;
	background-color: #ccc;
}

.option{
	width: 85%;
	margin: 10px auto;
}

#color_popup ul div{
	height: 30px;
	margin: 5px 10px;
	color: white;
	padding: 5px 10px;
	text-shadow: none;
}

#color_popup li{
	list-style: none;
}

/* Search Tag Page */
.tag_group span{
	
}

.thumbnail {
	display: inline-block;
	float: left;
	cursor: pointer;
	background-color: #fff;
	padding: 5px;
	margin: 0 5px;
	-webkit-box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 0px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 0px 8px rgba(50, 50, 50, 0.5);
}

.thumbnail img{
	height: 100px;
}

/* Add Page */
#place option{
	overflow: hidden;
}

#add .ui-select {
	display: none;
}

#flip_wrapper{
	padding: 0;
	padding-bottom: 20px;
}

#flip_label{
	float: left;
	line-height: 34px;
}

#flip .ui-slider-switch{
	margin: 0;
	padding: 0;
	margin-left: 110px;
}

#add .ui-br{
	border-bottom: none;
}

/* Footer */
.nav{
	position: fixed !important;
}

/* Icons */

.tab_icon{
	width: 25px;
}

.nav .ui-btn-inner{
	padding: 5 !important;
	padding-top: 5px;
	margin: 0;
}

.nav .ui-btn-text{
	font-size: 9px;
}

.nav .ui-btn-active{
	color: white;
}

#input_wrapper{
	opacity: 0;
}

#photo_li{
	margin-top: -23px;
	margin-left: 1px;
	z-index: -100;
	position: relative;
}

.ui-popup-containter{
	opacity: .6;
}

/* Feedback */
#feedback h3{
	margin: 30px auto;
    padding:0px;
    font-size: 24px;
    color:#6c6c6c;
    font-weight: bold;
    width: 80%;
}

#feedback p{
	font-size: 16px;
	text-align: left;
}

/* Recommend */
