div.ui-slider-vertical, div.ui-slider-verticalInverted { 
	position: relative; 
	display: inline-block; 
	overflow: visible; 
	height: 250px; 
	padding: 0; 
	margin: 0 2% 0 20px; 
	top: 4px; 
	width:10px ; 
	background-image: -webkit-gradient(linear,  left top,  left bottom, 
			color-stop(0.00, #ED1858), 
			color-stop(16%, #ED6D18),
			color-stop(32%, #F5DC20),
			color-stop(48%, #499160),
			color-stop(60%, #2687AD),
			color-stop(76%, #2048C9),
			color-stop(1.00, #8620C9));
	}
}

label.ui-slider-vertical { 
	display: block;
	width: 10%;  
	margin: 0 2% 0 0;  
}

div.ui-slider-vertical{ 
	width: 10px; 
}

a.ui-slider-handle-vertical{ 
	position: absolute; 
	z-index: 10;  
	top: 50%; 
	width: 24px; 
	height: 22px; 
	margin-top: -15px; 
	margin-left: -8px; 
	opacity: .8;
}

.ui-mobile .ui-page .ui-slider-input,
.ui-mobile .ui-dialog .ui-slider-input {
    display : none;


